body{
    height: 30rem;
    background-image: url('./images/background.png');
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    position: relative;
}



.sorry {
    font-size: 4rem;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    body {
      background-image: none;
      background-color: #f4f4f4;
    }
  }